/* Resets */

html {
    box-sizing: border-box;
    font-size: 10px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
 }
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

a, li {
    text-decoration: none;
}

/* Styles */

:root {
    --Blue: #0065FC;
    --Blue-Light: #DEEBFF;
    --Grey: #F2F2F2;
    --Grey-Tint: #D9D9D9;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0 auto;
    max-width: 1280px;
}

/* Header */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 79px;
    padding: 30px 0;
    position: relative
}

h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

header, main {
    margin: 0 50px 0 50px;
}

nav > ul {
    width: 200px;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
}

.nav-link__item {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: -29px;
    border-top: 3px solid #FFF;
    cursor: pointer;
}

.nav-link__item:hover {
    border-top: 3px solid var(--Blue);
}
.nav-link__item > a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #000;
    padding: 20px 0;
}

.nav-link__item:hover a{
    color: var(--Blue);
}


.logo {
    width: 90px;
}

/* Main */
/* Info group */

/* Search bar */
.info-group {
    margin-top: 30px;
}

.info-group > * {
    margin-bottom: 35px;
}

.headline h1 {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 2.2rem;
}

.headline p, .info-bar p {
    font-size: 1.4rem;
}


.search-bar form {
    display: flex;
    font-weight: 700;
}

.search-bar form > * {
    height: 49px;
    gap: 0;
}

form input[type="text"] {
    font-size: 1.6rem;
    padding: 15px;
    border: 1px solid var(--Grey);
    font-weight: 700;
}

form .submit{
    padding: 15px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue);
    font-size: 1.6rem;
    background: var(--Blue); 
    color: white;
    cursor: pointer;
}

.content-desktop {
    display: inline-block;
}

.content-mobile {
    display: none;
}

form .geolocation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    background: var(--Grey);
}

form .geolocation > i {
    font-size: 1.6rem;
}

/* Filter bar */
.filter-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filter-bar > * {
    margin-right: 15px;
}

.filter-bar__list {
    display: flex;
    flex-wrap: wrap

}

.filter-bar__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.filter-bar__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    border: 2px solid var(--Grey-Tint);
    border-radius: 25px;
    padding: 4px 19px;
}

.filter-bar__item:hover {
    transition: 0.5s;
    background: var(--Blue-Light);
    border-color: var(--Blue-Light);
    cursor: pointer;
}

.filter-bar p {
    font-weight: 700;
    font-size: 1.4rem;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: var(--Blue-Light);
    border-radius: 50%;
    transform: translateX(-22px);
    font-size: 1.7rem;
    padding: 20px;
    color: var(--Blue)
}

.info-bar {
    display: flex;
    align-items: center;
}

.info-bar .info-bar__icon {
    margin-right: 10px;
}

/* Cards */
.offers-group {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-bottom: 30px;
}

.offers {
    padding: 30px;
    background-color: var(--Grey);
    border-radius: 15px;
    flex: 3.3;
}


.card {
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    background-color: white;
    cursor: pointer;
    transition: transform 0.75s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    border-radius: 15px 15px 0 0;
    object-fit: cover;

}

/* Offers cards */
.offers__main {
    flex: 2;
}

.card-group__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.card-group__main > *, .card-group__sponsored > * {
    margin-bottom: 30px;
}

.card-group__main .card {
    padding: 3px;
    padding-top: 10px;
    height: 179px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-group__main .card-image {
    height: 65%;
    border-radius: 20px 20px 0 0;
}

.hotel-info__name {
    font-weight: bold;
    font-size: 1.3rem;
}

.hotel-info__price {
    font-size: 1.2rem;
}

.hotel-info__rating {
    font-size: 1.2rem;
}

.card-group__main .hotel-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0 5px 10px;
}

.card-group__main .hotel-info p {
    font-size: 1.4rem;
}

.hotel-info > * {
    margin-bottom: 5px;
}

.card-group__main .hotel-info > .hotel-info__name {
    font-weight: bold;
}

.show-more {
    font-size: 1.6rem;
    font-weight: bolder;
    margin-top: 10px;
}

.show-more > a {
    color: #000;
}

/* Sponsored cards */

.offers__sponsored {
    flex: 1;
    position: relative;
}

.offers__sponsored > div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -14px;
}

.offers__sponsored > div:first-of-type p {
    font-size: 1.8rem;
    align-self: flex-start;
}

.card-group__sponsored {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin-bottom: 15px;
}

.card-group__sponsored .hotel-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-top: 5px !important;
}

.card-group__sponsored .card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    height: 120px;
}


.card-group__sponsored .card-image {
    height: 100%;
    width: 40%;
    border-radius: 20px 0 0 20px;
}

.card-group__sponsored .hotel-info__name {
    margin-bottom: 5px;
}

.card-group__sponsored .hotel-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 200px;
    padding: 0px 10px 0px 10px;
}

/* Actvivities cards */

.activities-group {
    border-radius: 15px;
    width: 100%;
    margin-bottom: 35px;
}

.activities-group > h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

.card-group__activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card-group__activities .card-image {
    border-radius: 20px 20px 0 0;
    height: 100%;
    width: 100%;
}

.card-image--max-height {
    max-height: 180px;
}

.location {
    padding: 20px;
}

.location p {
    font-size: 1.3rem;
    font-weight: bold;
}

.card-group__activities .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card--span-double{
    grid-row: span 2;
}

/* Card ratings */

.hotel-info__rating {
    color: var(--Blue)
}

.hotel-info__rating .grey {
    color: var(--Grey)
}

/* Footer */

footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 20%;
    width: 100%;
    background: var(--Grey);
    padding: 20px;
}

footer > * {
    margin-left: 25px;
}

footer h2{
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

footer li {
    margin-bottom: 15px;
}

/* Media Queries */

@media screen and (max-width: 768px){

    header {
        margin: 0;
    }

    main {
        margin: 0
    }

    nav {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        margin-bottom: 110px;
    }

    .logo {
        transform: translateX(15px);
    }

    nav > ul{
        justify-content: space-evenly;
        width: 100%;
    }

    .nav-link__item {
        width: 100%;
        border-top: none;
        border-bottom: 3px solid #DDD;
        font-weight: bold;
        justify-content: center;
    }

    .nav-link__item a {
        padding: 80px 0 40px 0;
    }

    .nav-link__item:hover {
        border-top: none;
        border-bottom: 3px solid var(--Blue);
        color: var(--Blue)
    }

    .info-group {
        margin: 0px 25px;
    }

    .content-desktop {
        display: none;
    }

    .content-mobile {
        display: inline-block;
    }

    .filter-bar__item:first-of-type {
        order: 1;
    }

    .filter-bar__item:nth-of-type(2) {
        order: 3;
    }

    .filter-bar__item:nth-of-type(3) {
        order: 2;
    }

    .filter-bar__item:last-of-type {
        order: 4;
    }

    .offers {
        background: white;;
    }

    .offers-group {
        flex-direction: column;
    }


    .card-group__main {
        display: flex;
        flex-direction: column;
    }

    .offers {
        flex: 1;
    }

    .offer__main {
        order: 2;
        margin-bottom: 15px;
    }

    .offer__sponsored {
        border-radius: 0;
        background: var(--Grey);
        order: 1;
        margin-bottom: 15px;
    }

    .card-group__activities {
        display: flex;
        flex-direction: column;
        padding: 25px;
    } 

    .activities-group > h2 {
        margin-left: 25px;
    }

    .card {
        width: 100%;
        max-width: 385px;
        margin: 20px auto;
    }

    .card-group__activities {
        gap: 0;
    }

    .card-group__activities .card {
        height: auto;
    }

    .card-group__activities .card .card-image {
        max-height: 180px;
    }

    .offers__sponsored {
        background-color: var(--Grey);
        border-radius: 0;
    }

    .offers__sponsored > div:first-of-type {
        margin-bottom: 0;
    }

    footer {
        flex-direction: column;
    }

    footer > * {
        margin-bottom: 15px
    }

    p {
        font-size: 1.6rem;
    }

    .filter-bar {
        flex-direction: column;
    }

    .filter-bar__title {
        align-self: flex-start;
        margin-bottom: 10px;
    }

    .filter-bar__list {
        align-self: flex-start;
    }
}

@media screen and (min-width: 769px) and (max-width: 1096px) {
    
    .content-desktop {
        display: inline-block;
    }

    .content-mobile {
        display: none;
    }

    .filter-bar {
        flex-direction: column;
        align-content: flex-start;
    }

    .filter-bar__title {
        align-self: flex-start;
        margin: 10px;
    }

    .filter-bar__list {
        align-self: flex-start;
    }

    .offers-group {
        flex-direction: column;
    }

    .offers-group > * {
        margin-bottom: 50px;
    }

    .card-group__sponsored {
        display: flex;
        flex-direction: row;
        height: auto;
        column-gap: 10px;
    }

    .offers__sponsored > div:first-of-type {
        margin-bottom: 0;
    }

    .card-group__sponsored .card {
        width: 100%;
    }

    .card-group__sponsored .card-image {
        height: 100%;
    } 

    
}